<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<!--
  <app-progress-meter [coordinates]="coordinates"></app-progress-meter>
-->

  <ion-card>
      <ion-title>
        Komi Coordinates
        <br>
        Longitude: {{komiLong}}
        <br>
        <br>
        Latitude: {{komiLat}}
      </ion-title>
      <ion-progress-bar value={{komiPerc}}></ion-progress-bar>
  </ion-card>

  <ion-card>
    <ion-title>
      Toshio Coordinates
      <br>
      Longitude: {{toshioLong}}
      <br>
      <br>
      Latitude: {{toshioLat}}
    </ion-title>
    <ion-progress-bar value={{toshioPerc}}></ion-progress-bar>
</ion-card>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>

