<ion-header [translucent]="true"> <!--style="background-color: --ion-color-warning;"-->
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card style="background-color:#2b2b2b;">
    <ion-card-header>
      <ion-card-title style="color:#C2F412">Komi</ion-card-title>
      <ion-card-subtitle style="color:white">Coordinates</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="color:white">
      Longitude: {{komiLong}} ; Latitude: {{komiLat}}
      <ion-progress-bar value={{komiPerc}}></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-card style="background-color:#2b2b2b;">
    <ion-card-header>
      <ion-card-title style="color:#C2F412">Toshio</ion-card-title>
      <ion-card-subtitle style="color:white">Coordinates</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="color:white">
      Longitude: {{toshioLong}} ; Latitude: {{toshioLat}}
      <ion-progress-bar value={{toshioPerc}}></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>